---
layout: pages.liquid
pagination: 
    data: collections.post
    size: 2
    alias: posts
    reverse: true
---

{% for post in posts %}
<article class="article">
    <h2>{{ post.data.title }}</h2>
    <small> 
        <em>Posted on: {{ post.date | postDate }}</em> 
        {{ post.templateContent | emojiReadTime }}
    </small>
    <ul role="list" class="tags">
        {% for tag in post.data.tags %}
            {% if tag != 'post' %}
                <li><a href="{{ '/tags/' | url }}{{ tag }}" class="tag" ><small>{{ tag }}</small></a></li>
            {% endif %}
        {% endfor %}
    </ul>
    {{ post.data.page.excerpt | md }}
    <div>
       <a href="{{ post.url | url }}" class="read-more">Read More</a> 
    </div>
</article>
<hr />

{% endfor %}

<nav class="nav">
<ol role="list" class="nav-pagination">
{% if pagination.href.next %}
<a href="{{ pagination.href.next | url }}"> Older Posts </a>
{% endif %}
{% if pagination.href.previous %}
    <li><a href="{{ pagination.href.previous | url }}"> Newer Posts </a></li>
{% endif %}

</ol>


</nav>